html {
  height: 100%;
  width: 100%;
}

body, h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Header Styling */
.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
   justify-content: space-between;
  align-items: center;
  padding: 5px 5px;
  z-index: 1000;
}

.logo {
  width: 110px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  padding: 5px 10px;
  
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.top-bar a:hover {
    text-decoration: underline;
}

.hero-section {
    height: 100vh;
    background-image: url('gympeople.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px; 
}

.text-center {
    text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #00509E;
}

.membership {
  display: flex; 
  justify-content: space-between;
  gap: 20px; 
}

.fee-box {
  flex: 1; 
  padding: 20px; 
  background-color: #00509E; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
}

.fee-box h2 {
  margin-top: 0; 
  font-size: 1.5em; }

.fee-box ul {
  list-style-type: none; /* Removes default bullet points */
  padding-left: 0; /* Removes padding from left */
}

.fee-box li {
  margin-bottom: 10px;
  padding-left: 20px; 
  position: relative; 
}

.fee-box li::before {
  content: "•"; 
  position: absolute; 
  left: 0; 
  color: #ff6347; 
  font-size: 1.5em; 
  line-height: 1; 
}

#joinFormContainer {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 8px;
}
#joinForm:target #joinFormContainer {
    display: block;
}
